body {
    text-align: center;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

form{
    background-color: lightpink;
    height: 320px;
    padding-top: 30px;
    padding-bottom: 30px;
}

label{
    color: blue;
    font-size: 25px;
    text-align: left;
}

h2{
    color: red;
    font-size: 35px;
}

table{
    border-collapse:collapse;
    width: 50%;
    text-align: center;
    margin-left: 420px;
}

td{
    text-align: center;
    width: 70px;
}
