<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form for Updating User Details</title>
</head>
<body>
    <form method="POST" action="">
        <label>Enter Name To Update: </label>
        <input type="text" name="name"/><br><br>
        <label>Enter New Name: </label>
        <input type="text" name="new_name"/><br><br>
        <label>Enter Email to Update: </label>
        <input type="email" name="email"/><br><br>
        <label>Enter New Email: </label>
        <input type="email" name="new_email"/><br><br>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>