<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>User Details</h2>
    <table border="2">
        <tr>
            <td>User Name</td>
            <td>Email</td>
            <td>Phone Number</td>
            <td>Password</td>
        </tr>
        {% for user in user_details %}
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>