<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>

    <style>
        .register {
            background-color: chartreuse;
            font-size: 40px;
            color: white;
        }
        .login {
            background-color: pink;
            font-size: 35px;
            color: black;
        }
    </style>
</head>
<body>
    <a href="/enter" class="register">Register</a>
    <br>
    <br>
    <br>
    <a href="/login" class="login">Login</a>
    <br>
    <br>
    <br>

</body>
</html>