<html>
    <body>
        <form action="{{url_for('add')}}" method="POST">
            <h3>Information</h3>
            Full Name<br>
            <input type="text" name="name"/><br><br>
            Email<br>
            <input type="text" name="email"/><br><br>
            contact number<br>
            <input type="text" name="contact"/><br><br>
            Password<br>
            <input type="password" name="pwd"/><br><br>
            <input type="submit" value="submit"><br>
        </form>
    </body>
</html>
